{% extends "crud/base.html" %}

{% block content %}
    <h2>Insert form</h2>
    <form method="post">
{% csrf_token %}
    <label>Name: </label>
    <input name="name" type="text" value="{{ person.name }}">

    <br/><br/>

    <label>Phone: </label>
    <input name="phone" type="tel" value="{{ person.phone }}">
    <br><br/>
    <label>Age:&nbsp; </label>
    <input name="age" type="number" value="{{ person.age }}">
    <br><br/>

    <input type="hidden" name="id" value="{{ person.id }}">

    <input type="submit" value="Submit">
    </form>
    <br>

    <button><a href="/">Home</a></button>
{% endblock %}